pyspark>=3.5.0
py4j>=0.10.9.9
pandas>=2.2.0

# Required for Spark Connect
pyarrow>=15.0.0
grpcio>=1.76.0
grpcio-status>=1.76.0
googleapis-common-protos>=1.71.0
zstandard>=0.25.0

# Optional for Spark Connect
graphviz>=0.20