coverage==7.13.5
googleapis-common-protos==1.74.0
graphviz==0.21
grpcio==1.80.0
grpcio-status==1.80.0
iniconfig==2.3.0
numpy==2.4.4
packaging==26.2
pandas==3.0.2
pluggy==1.6.0
protobuf==6.33.6
py4j==0.10.9.9
pyarrow==24.0.0
pygments==2.20.0
pyspark==4.1.1
pytest==9.0.3
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
six==1.17.0
typing-extensions==4.15.0
zstandard==0.25.0
